.card-img {
    height: 400px;
}

.card-img img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.cart-img {
    height: 150px;
}

.cart-img img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .cart-img {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .row-cart .card-body {
        padding: 0 2rem 0 2rem;
    }

    .cart-img {
        height: 400px;
    }
}